/* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

body {
  width: 100vw;
  height: 100vh;
  color: #111517;
  overflow-x: hidden;
  background-color: #fafafa;
}

h1 {
  font-size: 26px;
  font-weight: 800;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

h3 {
  font-size: 18px;
  font-weight: 800;
  padding-bottom: 20px;
}

b {
  font-weight: 600;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  background-color: white;
  padding: 0 75px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1.5px 3px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1.5px 3px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 75px;
  margin: 50px 0;
}

nav label {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1.5px 3px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1.5px 3px;
}

nav label svg {
  margin: 0 35px;
  height: 25px;
  color: #858585;
  width: auto;
}

nav label input {
  height: 55px;
  width: 50vw;
  max-width: 410px;
  padding-right: 35px;
  color: #858585;
  font-weight: 600;
  font-size: 16px;
}

nav label input:focus {
  color: #111517;
}

nav select {
  cursor: pointer;
  min-width: 150px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 55px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1.5px 3px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1.5px 3px;
  padding: 0 25px;
  font-weight: 600;
  font-size: 14px;
  color: #858585;
}

.loader {
  width: 100%;
  height: 300px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.loader img {
  width: 100px;
  height: auto;
  -webkit-animation: rotateImg infinite 3.5s linear;
          animation: rotateImg infinite 3.5s linear;
}

.countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 75px;
  -webkit-column-gap: 75px;
          column-gap: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 75px;
}

.country {
  width: 260px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1.5px 3px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1.5px 3px;
}

.country img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.country section {
  width: 100%;
  padding: 25px 25px 25px 25px;
}

.country button {
  margin-top: 20px;
  background-color: #fafafa;
  padding: 10px;
  border-radius: 5px;
}

.country button:hover {
  cursor: pointer;
}

.links {
  color: inherit;
  text-decoration: inherit;
}

.singleCountry {
  margin: 75px;
}

.singleCountry button {
  width: 140px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 75px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.singleCountry button svg {
  margin-right: 10px;
}

.singleCountry img {
  max-width: 560px;
  max-height: 400px;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.singleCountry section h1 {
  margin: 35px 0;
}

.singleCountry .countryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 120px;
          column-gap: 120px;
}

.singleCountry .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 120px;
          column-gap: 120px;
}

.singleCountry .details3 {
  margin-top: 75px;
}

.singleCountry .details3 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.singleCountry .details3 p span {
  line-height: 30px;
  background-color: white;
  border-radius: 2.5px;
  margin-left: 10px;
  padding: 2.5px 25px;
  font-size: 14px;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px 0px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
  header {
    padding: 0px 30px;
  }
  nav {
    padding: 0px 30px;
    margin: 30px 0;
  }
  nav label {
    width: 100%;
  }
  nav label input {
    width: 100%;
  }
  .countries {
    padding: 0px 30px;
  }
  .country {
    width: 100%;
  }
  .country img {
    height: 200px;
  }
  .singleCountry {
    margin: 30px;
  }
  .singleCountry .countryContainer h1 {
    font-size: 22px;
  }
}

@-webkit-keyframes rotateImg {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateImg {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=Index.css.map */