@import './Colors';

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;

    transition: color .5s ease;
    transition: background-color .5s ease;

}

body {
    width: 100vw;
    height: 100vh;
    color: $Very-Dark-Blue-Text;
    overflow-x: hidden;
    background-color: $Very-Light-Gray;
}

h1 {
    font-size: 26px;
    font-weight: 800;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

h3 {
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 20px;
}

b {
    font-weight: 600;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: $White;
    padding: 0 75px;
    box-shadow: rgba(0, 0, 0, .1) 0px 1.5px 3px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px;
    margin: 50px 0;


    label {
        background-color: $White;
        display: flex;
        align-items: center;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1.5px 3px;

        svg {
            margin: 0 35px;
            height: 25px;
            color: $Dark-Gray;
            width: auto;
        }

        input {
            height: 55px;
            width: 50vw;
            max-width: 410px;
            padding-right: 35px;
            color: $Dark-Gray;
            font-weight: 600;
            font-size: 16px;

            &:focus {
                color: $Very-Dark-Blue-Text;
            }

        }

    }


    select {
        cursor: pointer;

        min-width: 150px;
        text-align: center;
        display: flex;
        appearance: none;
        height: 55px;
        background-color: $White;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1.5px 3px;
        padding: 0 25px;
        font-weight: 600;
        font-size: 14px;
        color: $Dark-Gray;
    }

}




.loader {
    width: 100%;
    height: 300px;
    display: grid;
    place-items: center;


    svg {
        width: 100px;
        height: auto;
        animation: rotateImg infinite 3.5s linear;

    }
}

.error {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    svg {
        width: 300px;
        height: auto;

    }
}

.countries {
    display: flex;
    flex-wrap: wrap;
    row-gap: 75px;
    column-gap: 75px;
    justify-content: center;
    padding: 0 75px;
}

.country {
    width: 260px;
    border-radius: 10px;
    overflow: hidden;
    background-color: $White;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1.5px 3px;


    img {
        width: 100%;
        height: 160px;
        object-fit: cover
    }

    section {
        width: 100%;
        padding: 25px 25px 25px 25px;
    }

    button {
        margin-top: 20px;
        background-color: $Very-Light-Gray;
        padding: 10px;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
        }
    }
}

.links {
    color: inherit;
    text-decoration: inherit;
}

.singleCountry {
    margin: 75px;

    button {
        width: 140px;
        height: 40px;
        font-weight: 600;
        font-size: 16px;
        border-radius: 5px;
        margin-bottom: 75px;
        background-color: $White;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
            margin-right: 10px;
        }

    }

    img {
        max-width: 560px;
        max-height: 400px;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    section {
        h1 {
            margin: 35px 0;
        }
    }

    .countryContainer {
        display: flex;
        flex-wrap: wrap;
        column-gap: 120px;
    }

    .details {
        display: flex;
        flex-direction: row;
        column-gap: 120px;

    }

    .details3 {
        margin-top: 75px;


        p {
            display: flex;
            flex-wrap: wrap;
            row-gap: 15px;
            align-items: center;

            span {
                line-height: 30px;
                background-color: $White;
                border-radius: 2.5px;
                margin-left: 10px;
                padding: 2.5px 25px;
                font-size: 14px;
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px 0px;
            }
        }
    }
}


@media only screen and (max-width: 600px) {

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
        column-gap: 5px;
    }

    header {
        padding: 0px 30px;
    }

    nav {
        padding: 0px 30px;
        margin: 30px 0;



        label {
            width: 100%;

            input {
                width: 100%;
            }

        }
    }

    .countries {
        padding: 0px 30px;
    }

    .country {
        width: 100%;

        img {
            height: 200px;
        }
    }

    .singleCountry {
        margin: 30px;

        .countryContainer {
            h1 {
                font-size: 22px;
            }


        }

    }


    .error {

        svg {
            width: 200px;
            height: auto;

        }
    }
}


@keyframes rotateImg {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}